<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/cv">CV</a></li>
	        		<li><a href="/blog">Blog</a></li>
				<li><a href="/creative column">Creative Column</a></li>
               <li><a href="/miscellaneous">Miscellaneous</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:tintinmyself@gmail.com">email</a></li>
	        		<li><a href="https://github.com/bilwasiva">github.com/bilwasiva</a></li>
				<li><a href="https://twitter/bilwasiva">twitter</a></li>
				<li><a href="https://bilwasiva.wordpress.com">blog</a></li>
				</ul>
			</footer>
		</body>
	</html>
